<div class="box-results-con">
  <% satisfiedUsers = users.filter(user => user.satisfied).length %> 
  <% averageBoxScore = users.reduce((a, b) => a + (b.boxScore/boxSize), 0)/users.length; %> 
  <header class="summary"></header>
  <div>
    Satisfied Users: <%= satisfiedUsers %> / <%= users.length %>  
  </div>
  <div>
    Average Box Score: <%= averageBoxScore %> 
  </div>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Box Score</th>
      <th>Satisfied</th>
    </tr>
    <% users.forEach(user => { %>
      <% const { firstName, lastName, boxScore, satisfied } = user %> 
      <tr class="<%= satisfied ? 'success' : 'warning' %>" >
        <td>
          <%= firstName %> 
        </td>
        <td>
          <%= lastName %> 
        </td>
        <td>
          <%= boxScore %> 
        </td>
        <td>
          <%= satisfied %> 
        </td>
      </tr>
    <% }) %>
  </table>
</div>