<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
</head>
<body>
  <style>
    :root {
      --highlight-color: #A26B25;
      --neutral-color: #f7f7f7;
    }
    body {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
    }
    * {
      box-sizing: border-box;
    }
    table {
      background-color: transparent;
      border-collapse: collapse;
    }
    tr.success > td {
      background: green !important;
      color: white;
    }
    tr.warning > td {
      background: red !important;
      color: white;
    }
    td, th {
      padding: 8px;
      border-top: 1px solid #dee2e6;
    }
    th {
      color: #fff;
      background-color: #212529;
      border-color: #32383e;
      padding: 8px;
      vertical-align: bottom;
      /* border-bottom: 2px solid #dee2e6; */
    }
    .box {
      width: calc(33% - 16px);
      box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
      display: inline-block;
      margin: 8px;
      padding: 20px;
      min-height: 100px;
    }
    h2 {
      margin: 0;
      font-size: 18px;
      text-transform: capitalize;
    }
    .d--ib {
      display: inline-block;
    }
    header {
      margin-bottom: 8px;
    }
    header h2 {
      /* padding-right: 8px; */
      margin: -2px;
      width: 50%;
    }
    .quiz__section {
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    
    .quiz__selection {
        vertical-align: top;
        padding: 10px;
    }
    
    div.before-quiz-img {
        width: 400px;
        height: 90%;
        display: inline-block;
        vertical-align: top;
        margin: -2px;
        padding: 10px;
    }
    
    img.before-quiz-img {
        width: 400px;
        height: 90%;
    }
    
    div.before-quiz-img>h4 {
        display: block;
        text-align: center;
        margin: 0;
        margin-top: 6px;
    }
    
    .quiz__checkbox-con {
      display: inline-flex;
      cursor: pointer;
      /* width: 25%; */
      min-width: 100px;
      /* height: 20px; */
      align-items: center;
      border: 1px solid gray;
      justify-content: center;
      text-align: center;
      box-sizing: border-box;
      margin: 8px;
      padding: 20px;
      text-transform: capitalize;
    }
    
    input:checked+.quiz__checkbox-con {
      border-color: var(--highlight-color);
      border-width: 2px;
      color: var(--highlight-color);
    }
    
    .quiz__selection input[type='checkbox'] {
      display: none;
    }
    
    .hide {
      display: none;
      visibility: hidden;
      height: 0;
      opacity: 0;
      transition: all 0.5s;
    }
    
    .quiz__text {
      width: 100%;
      margin-bottom: 20px;
    }
    .selection-con {
      display: inline-block;
    }
    h1, h2 {
      font-weight: 500;
    }
    button {
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 8px 12px;
      line-height: 20px;
      border: none;
      background: #41a6de;
      border-radius: 2px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: white;
    }
  </style>
  <h1>Create a Box</h1>
  <% const categories = Object.keys(catalog) %>
  <form action="">
    <% categories.forEach(category => { %>
      <h2><%= category %> </h2>
      <% subCategories = catalog[category]; %>
      <div class="quiz quiz__selections">
        <div class="quiz__selection">
          <% subCategories.forEach(subCategory => { %>
            <div class="selection-con">
              <% selectionKey = `${category}--${subCategory}` %> 
              <input type="checkbox" name="box_options[]" data-index="0" value="<%= selectionKey %>" id="<%= selectionKey %>"> 
              <label class="quiz__checkbox-con" for="<%= selectionKey %>"> 
                <span><%= subCategory %> </span> 
              </label>
            </div>
          <% }) %>
        </div>
      <div>
    <% }) %>
    <button>
      Check Users
    </button>
  </form> 
  <div id="box-results"></div>
</body>
<script>
  const form = document.querySelector('form');
  const boxResults = document.querySelector('#box-results');
  form.addEventListener('submit', () => {
    event.preventDefault();
    const checkboxes = document.querySelectorAll('input:checked[name="box_options[]"');
    const options = {};
    checkboxes.forEach(checkbox => {
      const [key, value] = checkbox.value.split('--');
      options[key] = options[key] ? [ ...options[key], value ] : [ value ]  
    })
    const stringOptions = {};
    Object.keys(options).forEach(category => {
      stringOptions[category] = options[category].join(';');
    })
    fetch('/box-results', {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
      redirect: 'follow', // manual, *follow, error
      referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      body: JSON.stringify(stringOptions) // body data type must match "Content-Type" header
    }).then(response => response.text())
      .then(data => boxResults.innerHTML = data);
  })
</script>
</html>