<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
</head>
<body>
  <style>
    body {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
    }
    * {
      box-sizing: border-box;
    }
    table {
      width: 100%;
      background-color: transparent;
      border-collapse: collapse;
    }
    td, th {
      padding: 8px;
      border-top: 1px solid #dee2e6;
    }
    th {
      color: #fff;
      background-color: #212529;
      border-color: #32383e;
      padding: 8px;
      vertical-align: bottom;
      /* border-bottom: 2px solid #dee2e6; */
    }
    .box {
      width: calc(33% - 16px);
      box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
      display: inline-block;
      margin: 8px;
      padding: 20px;
      min-height: 100px;
    }
    h2 {
      margin: 0;
      font-size: 18px;
    }
    .d--ib {
      display: inline-block;
    }
    header {
      margin-bottom: 8px;
    }
    header h2 {
      /* padding-right: 8px; */
      margin: -2px;
      width: 50%;
    }
    header.summary {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    header.summary div {
      
    }
  </style>
    <% topBoxes = boxes.slice(0, 3) %> 
    <% topBoxes.forEach(box => { %> 
      <div class="box">
        <% const { score, ...categories } = box %> 
        <header>
          <h2 class="d--ib">
            Score: <%= box.score.averageScore %>  
          </h2>
          <h2 class="d--ib">
            Satisfied Users: <%= box.score.satisfiedUsers %> / 100
          </h2>
        </header>
        <% Object.keys(categories).forEach(category => { %>
          <h2><%= category %> </h2>
          <% categoriesList = categories[category].split(';') %> 
          <ul>
            <% categoriesList.forEach(category => { %>
              <li>
                <%= category %> 
              </li>
            <% }) %>
          </ul>
        <% }) %>
      </div>
    <% }) %>
    <table>
      <tr>
        <th>Categories</th>
        <th>Satisfied Users</th>
        <th>Average User Score</th>
      </tr>
      <% boxes.forEach(box => { %>
        <tr>
          <% const { score, ...categories } = box %> 
          <td>
            <% let displayStrings = []; %> 
            <% Object.keys(categories).forEach(category => { %>
              <% const subcategories = categories[category].split(';') %>
              <% displayStrings.push(`${category}: ${subcategories.join(', ')}`) %> 
            <% }) %>
            <%=  %>
            <% displayStrings.forEach(displayString => { %>
              <%= displayString %>
              <br>
            <% }) %> 
          </td>
          <td>
            <%= score.satisfiedUsers %> 
          </td>
          <td>
            <%= score.averageScore %> 
          </td>
        </tr>
      <% }) %>
    </table>
    
</body>
</html>