<template>
  <div class="box-results-con">
    <header class="summary"></header>

    <div v-for="(box, index) in boxes" :key="`box${index+1}`">
      <Box
        :index="index"
        :key="`box${index+1}`"
        :boxChoices="boxChoices"
        :box="box"
        @removeBox="$emit('removeBox', index)" />
    </div>
    <div class="tables-con">
      <div>
        <h3>Satisfied</h3>
        <Table :users="satisfiedUsers" :boxes="boxes" :boxChoices="boxChoices"  />
      </div>
      <div class="vl"></div>
      <div>
        <h3>Unsatisfied</h3>
        <Table :users=unsatisfiedUsers :boxes=boxes />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Box from '../components/Box'
import Table from '../components/Table'

export default Vue.extend({
  name: 'BoxResults',
  components: { Box, Table },
  props: {
    boxes: {
      type: Array,
      default: () => []
    },
    boxChoices: Array
  },
  computed: {
    boxUsers () {
      return this.boxes[0].users.map((boxUser) => {
        const boxesInfo = []
        this.boxes.forEach((box, boxIndex) => {
          const foundUser = box.users.find((user) => (user.firstName === boxUser.firstName && user.lastName === boxUser.lastName))
          boxesInfo.push({ id: boxIndex, satisfied: foundUser.satisfied, boxScore: foundUser.boxScore })
        })
        return { ...boxUser, boxesInfo }
      })
    },
    unsatisfiedUsers () {
      const filteredUsers = []
      this.boxUsers.forEach((boxUser) => {
        if (!boxUser.boxesInfo.some((info) => info.satisfied)) { filteredUsers.push(boxUser) }
      })
      return filteredUsers
    },
    satisfiedUsers () {
      const filteredUsers = []
      this.boxUsers.forEach((boxUser) => {
        if (boxUser.boxesInfo.some((info) => info.satisfied)) { filteredUsers.push(boxUser) }
      })
      return filteredUsers
    }
  },
  data () {
    return {
      popupIndex: -1,
      previousFilter: true,
      componentRender: 0
    }
  }
})
</script>
