<template>
  <div class="create-boxes">
    <h1>Create Boxes</h1>
    <form @submit.prevent="handleSubmit">
      <div v-for="(value, category) in catalog" :key="category">
        <h2>{{ category }}</h2>
        <div class="quiz quiz__selections">
          <div class="quiz__selection" v-for="subCategory in value" :key="subCategory">
            <div class="selection-con">
              <input type="checkbox" name="box_options[]" data-index="0" :value="`${category}--${subCategory}`" :id="`${category}--${subCategory}`">
              <label class="quiz__checkbox-con" :for="`${category}--${subCategory}`">
                <span>
                  {{ subCategory }}
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-buttons">
        <button>
          Add Box
        </button>
        <button @click="clearBoxes">
          Clear All Boxes
        </button>
      </div>
    </form>
    <BoxResults
      class="box-results"
      :boxes="boxes"
      :boxChoices="boxChoices"
      :filterIndex="filterIndex"
      :key="componentRender"
      @removeBox="handleRemoveBox" />
  </div>
</template>

<script>
import Vue from 'vue'
import BoxResults from '../views/BoxResults'
import catalog from '../recommendations/catalog'
import axios from 'axios'

export default Vue.extend({
  name: 'CreateBoxes',
  props: {
    catalog: {
      type: Object,
      default: () => catalog
    }
  },
  data () {
    return {
      boxes: [],
      boxChoices: [],
      filter: false,
      componentRender: 0
    }
  },
  components: {
    BoxResults
  },
  methods: {
    handleSubmit () {
      const checkboxes = document.querySelectorAll('input:checked[name="box_options[]"')
      const boxResults = document.querySelector('#box-results')
      const options = {}
      checkboxes.forEach(checkbox => {
        const [key, value] = checkbox.value.split('--')
        options[key] = options[key] ? [...options[key], value] : [value]
      })
      const stringOptions = {}
      Object.keys(options).forEach(category => {
        stringOptions[category] = options[category].join(';')
      })
      axios({
        method: 'POST',
        url: '/api/boxes/results',
        headers: { 'Content-Type': 'application/json' },
        data: JSON.stringify(stringOptions)
      }).then(data => { this.boxes.push(data.data); this.boxChoices.push(stringOptions); console.log(this.boxes) })
    },
    clearBoxes (e) {
      e.preventDefault()
      this.boxes = []
      this.boxChoices = []
      this.componentRender += 1
    },
    handleRemoveBox (index) {
      this.boxes = this.boxes.filter((box, boxIndex) => boxIndex !== index)
      this.boxChoices = this.boxChoices.filter((box, boxIndex) => boxIndex !== index)
      if (this.boxes.length === 0) {
        this.filter = false
      }
    },
    changeFilter () {
      this.filter = true
    }
  }
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    :root {
      --highlight-color: #A26B25;
      --neutral-color: #f7f7f7;
    }
    body {
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
    }
    * {
      box-sizing: border-box;
    }
    table {
      background-color: transparent;
      border-collapse: collapse;
    }
    td.success {
      background: green !important;
      color: white;
    }
    td.warning {
      background: red !important;
      color: white;
    }
    td, th {
      padding: 8px;
      border-top: 1px solid #dee2e6;
    }
    th {
      color: #fff;
      background-color: #212529;
      border-color: #32383e;
      padding: 8px;
      vertical-align: bottom;
      /* border-bottom: 2px solid #dee2e6; */
    }
    .box {
      width: calc(33% - 16px);
      box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
      display: inline-block;
      margin: 8px;
      padding: 20px;
      min-height: 100px;
    }
    h2 {
      font-size: 18px;
      text-transform: capitalize;
    }
    .d--ib {
      display: inline-block;
    }
    header {
      margin-bottom: 8px;
    }
    header h2 {
      /* padding-right: 8px; */
      margin: -2px;
      width: 50%;
    }
    .quiz__section {
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .quiz__selection {
        vertical-align: top;
        padding: 10px;
    }
    .quiz__selections {
      display: flex;
    }
    div.before-quiz-img {
        width: 400px;
        height: 90%;
        display: inline-block;
        vertical-align: top;
        margin: -2px;
        padding: 10px;
    }
    img.before-quiz-img {
        width: 400px;
        height: 90%;
    }
    div.before-quiz-img>h4 {
        display: block;
        text-align: center;
        margin: 0;
        margin-top: 6px;
    }
    .quiz__checkbox-con {
      display: inline-flex;
      cursor: pointer;
      /* width: 25%; */
      min-width: 100px;
      /* height: 20px; */
      align-items: center;
      border: 1px solid gray;
      justify-content: center;
      text-align: center;
      box-sizing: border-box;
      margin: 8px;
      padding: 20px;
      text-transform: capitalize;
      position: relative;
    }
    .box-choice-key {
      display: block;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 700;
    }
    input:checked+.quiz__checkbox-con {
      border-color: var(--highlight-color);
      border-width: 2px;
      color: var(--highlight-color);
    }
    .quiz__selection input[type='checkbox'] {
      display: none;
    }
    .hide {
      display: none;
      visibility: hidden;
      height: 0;
      opacity: 0;
      transition: all 0.5s;
    }
    .quiz__text {
      width: 100%;
      margin-bottom: 20px;
    }
    .selection-con {
      display: inline-block;
    }
    h1, h2 {
      font-weight: 500;
    }
    button {
      -webkit-appearance: none;
      -moz-appearance: none;
      padding: 8px 12px;
      line-height: 20px;
      border: none;
      background: #41a6de;
      border-radius: 2px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: white;
      margin-left: 10px;
    }
    input[type='checkbox']:disabled {
      cursor: default;
    }
    .submit-buttons {
      display: flex;
    }
    .box-results {
      padding: 16px;
    }
    .main-table {
      margin-right: 10px;
    }
    .tables-con {
      display: flex;
      justify-content: space-between;
    }
    .vl {
      border: 1px solid black;
    }
    .popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  width: 410px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 12px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  display: flex;
  flex-wrap: wrap;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
</style>
