<style>
  .btn--close {
    position: absolute;
    right: 16px;
    background: transparent;
    color: black;
    font-size: 30px;
  }
  .box--created {
    padding: 20px;
    box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 28px;
    position: relative;
  }
</style>
<template>
  <div class="box--created">
    <button
      @click="$emit('removeBox')"
      class="btn btn--close">&times;</button>
    <h2>Box {{ index+1 }}</h2>
    <div class="quiz__selections">
      <div class="quiz__selection" v-for="(value, name, boxChoiceIndex) in boxChoices[index]" :key="`boxChoices${boxChoiceIndex+1}`">
        <div class="selection-con">
          <span class="box-choice-key">
            {{ name }}
          </span>
          <div class="quiz__checkbox-con">
            <span>
              {{ value.split(';').join(' | ') }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <strong>Satisfied Users:</strong> {{ satisfiedUsers }}
      </div>
      <div>
        <strong>Average Box Score:</strong> {{ averageBoxScore }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    index: Number,
    box: Object,
    boxChoices: Array
  },
  computed: {
    averageBoxScore () {
      return this.box.users.reduce((a, b) => a + (b.boxScore / this.box.boxSize), 0) / this.box.users.length
    },
    satisfiedUsers () {
      return `${this.box.users.filter(user => user.satisfied).length} / ${this.box.users.length}`
    }
  }
}
</script>
