<template>
    <table class="main-table">
        <tr>
          <th>Name</th>
          <th v-for="(box, index) in boxes" :key="`thbox${index+1}`">
            Box {{ index+1 }} Score
          </th>
        </tr>
        <tr v-for="(user, userIndex) in users" :key="`user${userIndex+1}`">
          <td
            @click="popupIndex = userIndex"
            class="popup">
            {{ user.firstName }} {{ user.lastName }}
            <UserPopup
              @close="popupIndex = -1"
              v-if="popupIndex === userIndex"
              :preferences="user.preferences" />
          </td>
          <td
            class="popup"
            v-for="info in user.boxesInfo"
            :class="info.satisfied ? 'success' : 'warning'"
            :key="filtered ? `popuptext box-score-filter-${info.boxIndex}-${userIndex}` : `popuptext box-score-${info.boxIndex}-${userIndex}`">
            {{ info.boxScore }}
          </td>
        </tr>
      </table>
</template>

<script>
import UserPopup from './UserPopup'
import vClickOutside from 'v-click-outside'
export default {
  name: 'Table',
  components: { UserPopup },
  props: {
    users: Array,
    boxes: Array,
    boxChoices: Array
  },
  data () {
    return {
      popupIndex: -1,
      previousFilter: true,
      componentRender: 0
    }
  },
  directives: {
    clickOutside: vClickOutside.directive
  }
}
</script>
