<style>
  h4 {
    text-transform: capitalize;
    display: inline;
  }
  .preference__category {
    display: inline-block;
    vertical-align: top;
    padding: 8px;
  }
</style>
<template>
  <span
    v-click-outside="() => $emit('close')"
    class="popuptext"
    id="myPopup">
    <div
      class="preference__category"
      v-for="(categoryVal, categoryName) in preferences"
      :key="categoryVal">
      <h2>{{ categoryName }}</h2>
      <div v-for="(subCategoryVal, subCategoryName) in categoryVal" :key="subCategoryVal">
        <h4>{{ subCategoryName }}</h4> : {{ mapToPrefereceDisplay[subCategoryVal] }}
      </div>
    </div>
  </span>
</template>

<script>
import Vue from 'vue'
import vClickOutside from 'v-click-outside'

const mapToPrefereceDisplay = {
  0: 'Rarely',
  1: 'Sometimes',
  2: 'Often'
}
export default Vue.extend({
  props: {
    preferences: Object
  },
  data () {
    return {
      mapToPrefereceDisplay
    }
  },
  directives: {
    clickOutside: vClickOutside.directive
  }
})
</script>
